body{
background-color: #93B874;
}

.object1
{
    padding-top: 120px;
	padding-bottom: auto;
	padding-left: auto;
	padding-right: auto;
    margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.object2
{
    padding-top: 50px;
	padding-bottom: auto;
	padding-left: auto;
	padding-right: auto;
    margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}